


.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #272C2F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}


div .mr-auto .navbar-nav .navpills a.nav-link {
  color: white;
}

.nav-pill {
  color: white;
}

.nav-pills .nav-link.active {

    background-color:#47981F;
    color: white;
    }

#root > div > nav > div.mr-auto.navbar-nav.nav-pills > a {
  color: white;
}

#root > div > nav > div.mr-auto.navbar-nav.nav-pills > a:hover {
  background: #47981F;
  opacity: .5;
}

div .row {
      text-align: left;
      justify-content: space-evenly;
      position: relative;
      top: 4rem;
      border-radius: .25rem;

    }

div.col-md-3.card.text-black {
  background-color:#1C4F06;
  color:white;
  margin: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(149,164,177,0.2);



}

div.col-md-3.card.text-black .card-body {
  position: relative;
}

div.col-md-3.card.text-black .card-body .card-title {
  margin-bottom: 3rem;
}

div.col-md-3.card.text-black .card-body a {
  background: #9CF632;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;


}

div.col-md-3.card.text-black a:hover {
  background: #B5BFD3;
  color: #9CF632;
  clear: both;
}

.search__form {
  position: relative;
}


#root > div > div > form > button {
  position: absolute;
  left: 0;
  margin:0 1rem 0 0;

}

#root > div > div > button {
  position: relative;
  left: 143px;
  bottom: 1rem;
}

#root > div > div > button > span {
  position: absolute;
  top: .5rem;
  margin-right: 2rem;
  left: 0;
}

.jumbotron {
  background: black;
  color: white;
  position: relative;
  padding: 7rem;
  clear: both;

}

.concert-pic {
  position:absolute;
  right: 0;
}

.jumbotron .badge {
  position: absolute;
  top:1rem;
  left: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
  background: #0E2F09;
  font-size: 2rem;
  color: #92E054;
  box-shadow: 2px 2px 2px 2px rgba(149,164,177,0.2);
}


.jumbotron h2 {
  position: absolute;
  top: 108px;
  left: 1rem;
  color: #B5BFD3;
}

.linkcontainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}

.jumbotron .form {
  position: absolute;
  bottom: 0;
  left: 0;

}


.btn,
.jumbotron a.active.btn.btn-primary,
#root > div > div:nth-child(2) > form > input[type=submit]:nth-child(3),
#root > div > div:nth-child(2) > form > input.form__submit,
.btn:active,
.jumbotron a.active.btn.btn-primary:active {
  background-color: #47981F;
  color: #B5BFD3;
  margin: 1rem 1rem 1rem 1rem;
  border-color: #47981F;
}

.btn:hover,
.jumbotron a.active.btn.btn-primary:hover,
#root > div > div:nth-child(2) > form > input[type=submit]:nth-child(3):hover,
 #root > div > div:nth-child(2) > form > input.form__submit:hover {
  background-color: #B5BFD3 ;
  font-weight: bold;
  color: #47981F;
}

#root > div > div:nth-child(2) > form > input {
    display: block;
    margin: 1rem;
    background: #272C2F;
}
