.App {
  text-align: left;
  font: gray;

}

.App a {
  font: gray;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: gray;
}

.nav-pills .nav-link.active {
    color:green;
    background-color:#addfad;
    }

div.col-md-3.card.text-black {
  background-color:#addfad;
}
